<script>
  export let location;
  import { navigate } from "svelte-routing";

  import { userstate } from '../stores/userstate.js';

	import { onMount } from 'svelte';


  function getParams() {
    var vars = {};
    window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    })
    return vars;
  };

  userstate.set(getParams()["token"]);
	onMount(() => {
    navigate("/", { replace: true });
  });

</script>

<div class="content">

</div>

<style>
.content {
	position: relative;
	max-width: 1270px;
	margin-left: auto;
	margin-right: auto;
  padding-top: 1em;
}

.deactivated {
 opacity: .1;
}
.svgBtn {
 opacity: .8;
}
.svgBtn:hover {
  cursor: pointer;
  opacity: 1;
}
.svgBtn:hover rect{
  stroke: lime !important ;
}
.cardModal-outer {
  max-width: 350px;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: .3em;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
  transition: .3s cubic-bezier(.25,.8,.25,1);
}
.cardModal {
  border-radius: inherit;
  background-color: #fff;
}
.cardModal-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: #eee;
  padding-top: .4em;
  padding-bottom: .5em;
}
.cardModal-header > h1 {
  margin: 0;
  font-weight: normal;
}
.cardModal-content {
  height: 100%;
  min-height: 16em;
}
.cardModal-action {
	align-items: center;
	display: flex;
	padding: 8px;
}

.v-btn {
	align-items: center;
	border-radius: 4px;
	display: inline-flex;
	flex: 0 0 auto;
	font-weight: 500;
	letter-spacing: .0892857143em;
	justify-content: center;
	outline: 0;
	position: relative;
	text-decoration: none;
	text-indent: .0892857143em;
	text-transform: uppercase;
	transition-duration: .28s;
	transition-property: box-shadow,transform,opacity;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
  color: #ff9800 !important;
  caret-color: #ff9800 !important;
  border-style: none;
  background-color: transparent;
}
.v-btn:hover {
  background-color: rgba(255, 152, 00, .05);
}

.elevate {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12) !important;
}
.spacer {
	flex-grow: 1 !important;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

.center {
  text-align: center !important;
}

.header {
  text-align: left;
  font-weight: normal;
}
</style>
