<script>
  import { Link } from "svelte-routing";
  import Chart from 'svelte-frappe-charts';

  import Box from "../components/Box.svelte";

  import { userstate } from '../stores/userstate.js';
  import { loginsPerDay } from '../stores/data.js';

  let chartRef;
</script>

  <div class="content flex">
    <div class="item">
	 	   <h2>Welcome to Stats.Brurberg.no</h2>
	 	   <p>Here you will find statistics from all the brurberg services.</p>
    </div>
    <div class="new_line"/>
    <div class="large_item">
      <Chart data={$loginsPerDay} type="line" bind:this={chartRef} />
    </div>
    <div class="new_line" style="padding-top: 1.5em;"/>
  </div>

<style>
  h3 {
    text-align: left;
  }
  hr {
    width: 100%;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
  	display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
		color: rgba(0,0,0,.12);
	}
  .inline_content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .content {
		position: relative;
		max-width: 1270px;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 45%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .large_item {
    flex: 0 0 100%;
    width: 100%;
    height: 50em;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }
  .data {
    text-align:center;
    padding:4px 0;
  }

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

img {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
}

</style>
